.ErrorPageWrap {
    width: 100%;
    min-height: 400px;
}

.errorPageBox h6 {
    font-size: 1rem;
}

.errorPageBox p {
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    user-select: none;
}