.StoryPageWrap {
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
}

.storyBox {
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}


.storyParagraph>span:nth-of-type(odd) {
    color: rgb(0, 0, 0);
}

.storyParagraph>span:nth-of-type(even) {
    color: rgb(112, 112, 112);
}

.storySentence {
    font-size: 1rem;
    margin-right: 5px;
    text-wrap: wrap;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    position: relative
}

.storySentence:hover {
    background: rgb(83, 83, 255);
    color: white !important;
}

.storyVertical {
    font-size: 0.5rem;
    vertical-align: top;
}

.storyModal {
    position: absolute;
    padding: 5px 5px;
    box-sizing: border-box;
    max-width: 700px;
    min-height: 50px;
    border: 1px solid;
    background: white;
    border-radius: 10px;

}

.storyModalPremier {
    width: 100%;
}

.storyModal p {
    font-size: 0.8rem;
}


.storyModalSentence {
    justify-content: space-around;
}

.storyModalSentence>div {
    margin: 2px 5px 0px;
    padding: 2px 7px;
    background: rgb(207, 207, 207);
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
}