.FootnotePageWrap {
    width: 100%;
    min-height: 50px;
    margin-top: 0.625rem;
    margin-bottom: 30px;
    padding: 5px 0px;
    box-sizing: border-box;
}

.footnoteBody {
    margin-top: 0.3125rem;
    padding: 0px 5px;
    width: 100%;
    box-sizing: border-box;
}

.footnoteBody>div {
    width: 100%;
}

.footnoteBody>div span {
    font-size: 0.7rem;
}

.footnoteBody>div p {
    font-size: 0.9rem;
    margin-left: 0.300rem;
}