.KeywordPageWrap {
    width: 100%;
    margin-top: 0.625rem;
    padding: 0px 10px;
    box-sizing: border-box;
}

.KeywordPageWrap>div {
    margin: 1px 0px;
}

.keywordPageHead h6 {
    font-size: 0.8rem;
}

.keywordPageBody p {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

