.StoryPageWrap {
    width: 100%;
    min-height: 50px;
    margin-top: 0.625rem;
    min-height: 500px;
    padding: 0px 0px 50px 0px;
}

.storyBox {
    width: 100%;
    flex-wrap: wrap;
}

.storyParagraph {
    margin-bottom: 1.5rem;
    width: 100%;
    /*  확인 필요 */
}

.storyParagraph>span:nth-of-type(1) {
    margin-left: 0.8rem;
}