* {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* @media (max-width:600px) {
  * {
    font-size: 12px;
  }
} */

.App {
  width: 100%;
  background: rgba(128, 128, 128, 0.144);
}

.containWrap {
  max-width: 1300px;
  width: 100%;
  min-height: 970px;
  padding: 0px 10px 20px;
  box-sizing: border-box;
  background: white;
}

/* ---------------------------- */

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-space{
  justify-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.flex11 {

  flex: 1 1
}


.pd5{
  padding: 5px;
}

.borderbox{
  box-sizing: border-box;
}